//
// user-variables.scss
//


// Color Scheme

$white:        #fff;
$success-2:    #1BAF97;

$theme-color-scheme: (
    "white":      $white,
    "success-2":    $success-2,
);

$theme-colors: (
  "white": $white,
  "success-2":    $success-2
);